<!DOCTYPE html>
<html>
  <head>
    <title>Crypto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<%= link_to "Live Performance", :controller => :welcome, :action => :index %>
  	<%= link_to "Open Positions"  , :controller => :trades, :action => :open_positions %>
    <%= yield %>
  </body>
</html>
